.menu-bar {
    height:30px;
    background-color: #761905;
}
.menu-item {
    height:22px;
    color: #000;
    background-color: #EEE;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
    border: 1px solid #999;
}

.standard-footer {
    height:50px;
    width: 100%;
    background-image: none;
    color: white;
    background-color: #761905;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    bottom: 0pt;
    left: 0pt;
}
.tasks {
  display: block;
  position: relative;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #999;
  padding: 10px 12px;
  margin-bottom: 14px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  background-color: #ddd;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.5s ease-in-out;
}
.timeframe {
  display: block;
  position: relative;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #999;
  padding: 10px 12px;
  margin-bottom: 14px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  background-color: #ddd;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.5s ease-in-out;
}
.roadmap-item {
  display: block;
  position: relative;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #999;
  padding: 10px 12px;
  margin-bottom: 14px;
  margin-left: 5px;
  margin-right: 5px;
  overflow: hidden;
  background-color: #ddd;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.5s ease-in-out;
}

.standard-footer p:last-child {
    margin-bottom: 0;
}
.jumbotron {
    color: #990000;
    background-color: #fbfbfb;
    margin-top: 0px;
    padding: 1% 1% 1% 1%;
    margin-bottom: 0px;
    text-align: center;
}

.note_card_sm {
  display: block;
  position: relative;
  font-size: 12px;
  border-radius: 3px;
  border: 1px solid #999;
  padding: 5px 6px;
  margin-bottom: 4px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}

H1 {
	align: center;
}

img {
	height: 100px;
    background-color: #FFF;
    border-radius: 5px;
    border-width: 1px;
    border-top-color: #0f0f0f;
    border-left-color: #555;
    border-right-color: #555;
    box-shadow: 0 3px 4px rgba(0,0,0,.08);
    margin-right: 20px;
    margin-bottom: 5px;
}
.btn-default {
	color: #333;
	background-color: #cdddeb;
	border-color: #ccc;
}
.title-sub {
    font-style: italic;
    text-align: center;
    font-size: 14px;
}
.message {
    font-style: italic;
    text-align: center;
    font-color: #DD0000;
    font-size: 14px;
}

/* Transition to a bigger shadow on hover */
.note_card:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

/* The fast way */
.make-it-fast {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

/* Pre-render the bigger shadow, but hide it */
.make-it-fast::after {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Transition to showing the bigger shadow on hover */
.note_card:hover::after {
  opacity: 1;
}

.formatted_content code, .torso code {
  font-style: normal;
  font-weight: normal;
}
fieldset {
    display: block;
    -webkit-margin-start: 1px;
    -webkit-margin-end: 10px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}

legend {
  padding: 0.2em 0.5em;
  border:1px solid green;
  color:green;
  font-size:90%;
  text-align:right;
 }

.hljs {
  padding: 0;
  background: transparent;
  overflow: visible;
}
.hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
}
