{% extends 'internal.html' %}
{% block content %}
<script>
    function displayReportParameters(id) {
        var target = "/rptparms/" + id;
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                var elem = document.getElementById("parameters");
                var result = this.responseText;
                elem.innerHTML = result;
                elem.style.display = "block";
            }
        }
        xhttp.open("GET",target,true);
        xhttp.send();
        return;
    }
    function runReport() {
        var rpt = document.getElementById("reportType");
        var parm = document.getElementById("rptParm1");

        /* global goPage */
        goPage('/rpt/' + rpt.value + '/' + parm.value );
    }
    
    function selectReport() {
        var selector = document.getElementById("reportType");
        var id = selector.options[selector.selectedIndex].value;

        displayReportParameters(id);
        return;
    }
</script>
<h1>{{ title }}</h1>
<strong>Reports: </strong>
<br/>
<div class="row" id="reportsSelector">
    <select id="reportType" onchange="selectReport()">
    <option value="1">Tasks By Timeline</option>
    <option value="2">Tasks By Roadmap</option>
    <option value="3">Tasks By Status</option>
    </select>
</div>


<div class="row" id="parameters" style="display: None;">
</div>
<button onclick="runReport()" class="btn-info">Run Report</button>
<div class="row" id="results">
{% if tasks %}
    <table width="90%"><tr><th>Time Frame</th><th>Name</th><th>Status</th><th>Time Spent</th><th>Due Date</th></tr>
    {% for task in tasks %}
        <tr><td>{{ task.timeframe }}</td><td>{{ task.name }}</td>
            <td>{{ task.status }}</td><td>{{ task.minutes_spent }}</td>
            <td>{{ task.duedate }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <strong>No Tasks Meet The Report Criteria</strong>
{% endif %}
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}
