{% extends 'internal.html' %}
{% block content %}
<h1>{{ title }}</h1>
<button onclick="goPage('/roadmap')" class="btn-info">Create Roadmap</button><br/><br/>
{% if items %}
    {% for item in items %}
        <div class="roadmap-item"  onclick="goPage('roadmap/{{ item.id }}')" id="item_{{ item.id }}">Name:{{ item.name }} has {{ item.timeframes }} children
            [Time Spent: {{ item.minutes }}]
        </div>
    {% endfor %}
{% else %}
    <strong>No Roadmaps Created</strong>
{% endif %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}
