{% extends 'internal.html' %}
{% block content %}
<h1>{{ title }}</h1>
<h4>{{ msg }}</h4>
<form method="post">
    <table width="100%" bordercolor="#761905" borderwidth="1" align="center">
        <tr><td width="30%">&nbsp;</td><td width="70%">&nbsp;</td></tr>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Save Record" name="submit">
    <input type="submit" value="Delete Record" name="delete">
    {% csrf_token %}
</form>

<h2>Time Frames</h2>
<button onclick="goPage('/tf')" class="btn-info">Create Timeframe</button><br/><br/>
{% if timeframes %}
    {% for tf in timeframes %}
        <div onclick="goPage('/tf/{{ tf.id }}')" class="timeframe" id="tf_{{ tf.id }}">Name:{{ tf.name }} has {{ tf.children }} children. 
        </div>
    {% endfor %}
{% else %}
    <strong>No Timeframes available</strong>
{% endif %}

{% endblock %}