{% extends 'internal.html' %}
{% block content %}
<h1>{{ title }}</h1>
<h4>{{ msg }}</h4>
<form method="post">
    <table width="80%" bordercolor="red" borderwidth="1" align="center">
        <tr><td width="30%">&nbsp;</td><td width="70%">&nbsp;</td></tr>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Save Record" name="submit">
    <input type="submit" value="Delete Record" name="delete">
    {% csrf_token %}
</form>

<h2>Time Frames</h2>
<button onclick="goPage('/tf?rm={{ rmid }}')" class="btn-info">Create Timeframe</button><br/><br/>
{% if timeframes %}
    {% for tf in timeframes %}
        <div class="timeframe" id="tf_{{ tf.id }}">Name:{{ tf.name }}
            <button onclick="goPage('/tf/{{ tf.id }}?rm={{ rmid }}')" class="btn-info">Edit</button>
        </div>
    {% endfor %}
{% else %}
    <strong>No Timeframes available</strong>
{% endif %}

{% endblock %}