{% extends 'internal.html' %}
{% block content %}
<script>
    function completeTask(id) {
        var target = "/complete/" + id;
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET",target,true);
        xhttp.send();
        var elem = document.getElementById("task_" + id);
        elem.style.display = "none";
        return;
    }
</script>
<h1>{{ title }}</h1>
{% if tasks %}
    {% for task in tasks %}
        <div class="tasks" id="task_{{ task.id }}">Name:{{ task.name }} DueDate: {{ task.duedate }}<br/>
            Status: {{ task.status }} [Time Spent: {{ task.minutes_spent }}] <button onclick="goPage('task/{{ task.id }}')" class="btn-info">Edit</button>
            <button onclick="completeTask({{ task.id }})" class="btn-info">Complete</button>
        </div>
    {% endfor %}
{% else %}
    <strong>No Tasks available</strong>
{% endif %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}
