{% extends 'internal.html' %}
{% block content %}
<script>
    function completeTask(id) {
        var target = "/complete/" + id;
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET",target,true);
        xhttp.send();
        var elem = document.getElementById("task_" + id);
        elem.style.display = "none";
        return;
    }
    function selectTimeFrame(page) {
        var selector = document.getElementById("current_tf");
        var id = selector.options[selector.selectedIndex].value;
        goPage('/settf/' + page + "/" + id);
        return;
    }

</script>
<h1>{{ title }}</h1>
<button onclick="goPage('/task')" class="btn-info">Create Task</button><br/>
    <select id="current_tf" onchange="selectTimeFrame('{{ page }}')">
    {% for opt in opts %}
        <option value='{{ opt.id }}' 
        {% if opt.id == pid %} selected="selected"
        {% endif %}
        >{{ opt.name }}</option>
    {% endfor %}
    </select> | Tasks Count: {{ count }}<br/>
{% if tasks %}
    {% for task in tasks %}
        <div class="tasks_{{ task.status.shortname }}" id="task_{{ task.id }}">
            <div class="row">
                <div class="col-md-3" onclick="goPage('task/{{ task.id }}')">
                TimeFrame :{{ task.timeframe }}
                </div>
                <div class="col-md-4" onclick="goPage('task/{{ task.id }}')">
                Name:{{ task.name }} <br/>
                Status: {{ task.status }} 
                </div>
                <div class="col-md-2" onclick="goPage('task/{{ task.id }}')">
                    DueDate: {{ task.duedate }}</br>
                    Time Spent: {{ task.minutes_spent }}
                </div>
                <div class="col-md-3">
                {% if task.status.shortname != "COMP" %}
                    <button onclick="completeTask({{ task.id }})" class="btn-task">Complete</button>
                {% else %}
                    &nbsp;
                {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <strong>No Tasks available</strong>
{% endif %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}
