{% extends 'internal.html' %}
{% block content %}
<script>
    function completeTask(id) {
        var target = "/complete/" + id;
        var xhttp = new XMLHttpRequest();
        xhttp.open("GET",target,true);
        xhttp.send();
        var elem = document.getElementById("task_" + id);
        elem.style.display = "none";
        return;
    }
</script>
<h1>{{ title }}</h1>
<button onclick="goPage('/task')" class="btn-info">Create Task</button><br/><br/>
{% if tasks %}
    {% for task in tasks %}
        <div class="tasks" onclick="goPage('task/{{ task.id }}')" id="task_{{ task.id }}">
            <div class="row">
                <div class="col-md-3">
                TimeFrame :{{ task.timeframe }}
                </div>
                <div class="col-md-4">
                Name:{{ task.name }} <br/>
                Status: {{ task.status }} 
                </div>
                <div class="col-md-2">
                    DueDate: {{ task.duedate }}</br>
                    Time Spent: {{ task.minutes_spent }}
                </div>
                <div class="col-md-3">
                    <button onclick="completeTask({{ task.id }})" class="btn-task">Complete</button>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <strong>No Tasks available</strong>
{% endif %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
{% endblock %}
