{% extends 'internal.html' %}
{% block content %}

<h1>{{ title }}</h1>
<h4>{{ msg }}</h4>
{% if parent %}
<button onclick="goPage('/tf/{{ parent.id }}')" class="btn-info">Return To {{ parent.name }}</button>
{% endif %}
<form method="post">
    <table width="80%" bordercolor="red" borderwidth="1" align="center">
        <tr><td width="30%">&nbsp;</td><td width="70%">&nbsp;</td></tr>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Save Record" name="submit">
    <input type="submit" value="Delete Record" name="delete">
    {% csrf_token %}
</form>
{% endblock %}