{% extends 'internal.html' %}
{% block content %}

<h1>{{ title }}</h1>
<h4>{{ msg }}</h4>
{% if parent %}
    <button onclick="goPage('/roadmap/{{ parent.id }}')" class="btn-info">Return To {{ parent.name }}</button>
{% endif %}
<form method="post">
    <table width="80%" bordercolor="red" borderwidth="1" align="center">
        <tr><td width="30%">&nbsp;</td><td width="70%">&nbsp;</td></tr>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Save Record" name="submit">
    <input type="submit" value="Delete Record" name="delete">
    {% csrf_token %}
</form>

<h2>Goals For Period</h2>
<button onclick="goPage('/task')" class="btn-info">Create Task</button>

<br/><br/>
{% if tasks %}
    {% for task in tasks %}
        <div class="tasks" id="task_{{ task.id }}">Name:{{ task.name }} DueDate: {{ task.duedate }}<br/>
            Status: {{ task.status }} [Time Spent: {{ task.minutes_spent }}] <button onclick="goPage('/task/{{ task.id }}?tf={{ tfid }}')" class="btn-info">Edit</button>
            <button onclick="completeTask({{ task.id }})" class="btn-info">Complete</button>
        </div>
    {% endfor %}
{% else %}
    <strong>No Tasks Assigned To This Time Period</strong>
{% endif %}

{% endblock %}