{% extends 'internal.html' %}
{% block content %}

<h1>{{ title }}</h1>
<h4>{{ msg }}</h4>
{% if roadmap %}
    <button onclick="goPage('/roadmap/{{ roadmap.id }}')" class="btn-info">Return To {{ roadmap.name }}</button>
{% endif %}
{% if parent %}
    <button onclick="goPage('/tf/{{ parent.id }}')" class="btn-info">Return To {{ parent.name }}</button>
{% endif %}
<form method="post">
    <table width="100%" bordercolor="#761905" borderwidth="1" align="center">
        <tr><td width="30%">&nbsp;</td><td width="70%">&nbsp;</td></tr>
    {{ form.as_table }}
    </table>
    <input type="submit" value="Save Record" name="submit">
    <input type="submit" value="Delete Record" name="delete">
    {% csrf_token %}
</form>

<h2>Child Time Frames</h2>
<button onclick="goPage('/tf?p={{ tfid }}')" class="btn-info">Create Timeframe</button><br/><br/>
{% if children %}
    {% for tf in children %}
        <div  onclick="goPage('/tf/{{ tf.id }}')" class="timeframe" id="tf_{{ tf.id }}">Name:{{ tf.name }}
        </div>
    {% endfor %}
{% else %}
    <strong>No Child Timeframes</strong>
{% endif %}
<br/><br/>
<h2>Goals For Period</h2>
<button onclick="goPage('/task')" class="btn-info">Create Task</button>
<br/><br/>
{% if tasks %}
    {% for task in tasks %}
        <div onclick="goPage('/task/{{ task.id }}?tf={{ tfid }}')" class="tasks" id="task_{{ task.id }}">
            <div class="row">
                <div class="col-md-9">Name:{{ task.name }} DueDate: {{ task.duedate }}<br/>
                    Status: {{ task.status }} [Time Spent: {{ task.minutes_spent }}]
                </div>
                <div class="col-md-3"><button class="btn-task">Complete</button></div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <strong>No Tasks Assigned To This Time Period</strong>
{% endif %}
<br/><br/><br/><br/>
{% endblock %}